<h1> Welcome to my Twitter profile! </h1>
 <div class="profile">
   <h1> Patrick Mounteer </h1>
<img src="https://cache2.senatus.net/files/myerscms_cache/senatus_dJOm43_displaywidetall.jpg" />

<marquee><img src="IMG_3385.JPG" /></marquee>
<h2> Student - study, study, study!</h2>
<p> I enjoy learning new things, such as coding, and I like knowing how things work. I also like the sounds of Pink Floyd. </p>
<a href="http://www.rollingstone.com/music/artists/pink-floyd/biography"> Read more about Pink Floyd </a>
</div>
