<h1> Welcome to my Assignment 1 page! </h1>
<h2 align="right"><a href="http://patrick-mounteer-assignment-1-183854.nitrousapp.com:4000/read_more">Want more?</a></h2>

 <div class="profile">
   <h1> Patrick Mounteer </h1>
<img src="https://cache2.senatus.net/files/myerscms_cache/senatus_dJOm43_displaywidetall.jpg" />

<marquee><img src="IMG_3385.JPG" /></marquee>
<h2> Student - study, study, study!</h2>
<p strong style="font-size:20px"> I enjoy learning new things, such as coding, and I like knowing how things work. I also like the sounds of Pink Floyd. </p>
<a href="http://www.rollingstone.com/music/artists/pink-floyd/biography"> Read more about Pink Floyd </a>
</div>
