.profile {

   padding: 10px;
   marging: 10px;
   text-align: center;
 }




html {
background: url("background.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

