.profile {
  background: url("https://www.flickr.com/photos/bobmerco/8274982779/in/photolist-j5hfoq-dNDaNd-aHaxfR-iSSDPA-ddVWc1-nqh7Az-oUw4j4-nz9Hyz-b718xr-aDYFkd-nPy6K2-j4TEEY-b4tuNk-e7LiXF-rv8BbB-p8mTd8-nNq2jX-qa5urF-cNzMRJ-pPxDAn-jMxZGk-jDFF1V-m3iAn6-kB6SfF-mX1x73-dLPGur-qSj37n-aJ564R-vcoc1j-f7a2PP-dSbAne-bSzAZH-oQowwW-nMeVSc-bdNECi-jdpAnk-pNQYhS-nMDr4F-pqvxbv-qncR6V-gBMRfM-r7H7sc-qcW59U-dXPNpG-bvSwHa-rbKCVt-q8Tppk-g28FNG-dBes5T-paPqbC") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

